@import "bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.font_headings {
    font-family: "Mulish", sans-serif;
}

.font_text {
    font-family: "Montserrat", sans-serif;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensure navbar stays on top */
}
.nav_shadow {
    box-shadow: 5px 5px 60px rgba(0, 0, 0, 0.5);
}

.orange {
    background: #fbb13c;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Added secound nav shadow here */
}

.pushable {
    background: black;
    border-radius: 20px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
}

.front {
    display: block;
    padding: 8px;
    border-radius: 20px;
    font-size: 1.25rem;
    background: rgb(0, 0, 0);
    color: white;
    transform: translateY(-6px);
    transition: background 0.3s ease, transform 0.2s ease;
}

.pushable:hover .front {
    background: #b8afda;
    transform: translateY(-6px);
}

.pushable:active .front {
    transform: translateY(-2px);
}

.hover_border:hover {
    border: 2px solid black;
    border-radius: 50px;
}

.drop_list {
    list-style: none;
    padding: 0;
    width: 100%;
    font-weight: normal;
    li {
        text-align: center;
        padding: 5px 0px;
        font-size: 12px;
        a {
            color: white;
            text-decoration: none;
        }
    }
}

.dropdown_active {
    background: #000;
    color: white !important;
    border-radius: 10px;
}

.dropdown_body {
    transform: translateX(-8px);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.red {
    color: #f00;
}

.accordion {
    margin-top: 20px;
}

.accordion-item {
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow here */
}

.accordion-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: white;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    transition: background-color 0.7s ease;
}
.accordion-header button {
    background: none;
    border: none;
    padding: 0;
    outline: none;
}
.accordion-body {
    padding: 1rem;
    border: none;
    box-shadow: none;
}

.plus-circle {
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    border-radius: 50%;
    border: 1px solid black;
    background-color: transparent;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    transition: background-color 0.7s ease;
    font-size: 2rem; /* Make font size larger */
    line-height: 1; /* Ensure line height does not affect vertical centering */
    border-bottom-width: 23px transparent;
}
.plus-circle.minus {
    background-color: black;
    color: white;
}

.accordion-header:hover {
    background-color: #f3e5f5;
}

.accordion-collapse {
    display: none;
}

.accordion-collapse.show {
    display: block;
    background-color: #f3e5f5;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

/* Tab Container */
.tab-container {
    display: flex;
    justify-content: space-around; /* Ensure tabs take full width and are evenly spaced */
    border-bottom: 2px solid black; /* Overall border below the tabs */
}

/* Tab Styling */
.tab {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    text-align: center;
    width: 100%;
    border-bottom: 2px solid black;
    transition: border-bottom 0.3s ease, color 0.3s ease;
}

/* Default Inactive Tab */
.tab:not(.active) {
    border-bottom: 2px solid black;
    opacity: 0.6;
}

/* Active Tab Styling */
.tab.active {
    color: red;
}

/* Red underline for active tab (centered) */
.tab::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 7px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: red;
    opacity: 0;
    transition: opacity 0.3s ease, width 0.3s ease;
}

.tab.active::after {
    opacity: 1;
    width: 100%;
}

/* Tab Content Styling */
.tab-content {
    display: none;
    margin-top: 20px;
}

.tab-content.active {
    display: block;
}

/* FOOTER */

footer {
    margin-top: 150px;
    padding: 100px;
    h2 {
        font-size: 55px;
    }
    .top_footer_text {
        font-size: 25px;
    }
    .send_email {
        width: 400px;
        padding: 15px;
        font-size: 23px;
    }
    input::placeholder {
        color: white;
    }
}

.header {
    height: 100vh;
    h1 {
        width: 600px;
        margin-top: 120px;
        margin-bottom: 150px;
        font-size: 53px;
        font-weight: 800;
    }
    p {
        width: 500px;
        font-size: 20px;
        line-height: 40px;
    }
    .button {
        background: #b8afda;
        width: 450px;
        font-size: 25px;
    }
    .info_board {
        bottom: -700px;
        a {
            font-size: 25px;
        }
    }
}

::-webkit-scrollbar {
    width: 8px;
}
.overflow-auto::-webkit-scrollbar {
    width: 8px;
}

.overflow-auto::-webkit-scrollbar-track {
    border-radius: 8px;
    background: #eeeeee;
}

.overflow-auto::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #f00606;
}

.overflow-auto::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

.overflow-auto a {
    text-decoration: none;
}
.blue-button {
    background-color: #3d80c8;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s;
    display: inline-block;
    /* float: right;  */
    margin-left: -50%;
    margin-top: 2em;
    margin-right: 1em;
}

.blue-button:hover {
    background-color: #0056b3;
}

.stats {
    margin-top: 550px;

    .number {
        font-size: 80px;
        color: #fb5e3c;
    }
    .text {
        font-size: 20px;
        color: #fb5e3c;
    }
    hr {
        border: solid black 2px;
    }
}
.join_us {
    color: white;
    border: white 2px solid;
    font-size: 25px;
    padding: 5px 12px;
    font-weight: 500;
}

.join_us:hover {
    color: black;
    background: white;
}

.news {
    width: 200vh;

    .post {
        overflow-x: auto; /* Allow horizontal scrolling */
        overflow-y: hidden; /* Prevent vertical scrolling */
        white-space: nowrap;
        width: 450px;
        height: 450px;
        background-position: center;
        background-size: cover;
        padding: 15px;
        flex-shrink: 0;
    }
    .post_title {
        font-size: 12px;
        font-weight: 600;
    }
    .post_body {
        margin-top: 260px;
    }
}

.blue-button {
    background-color: #3d80c8;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s;
    display: inline-block;
    /* float: right;  */
    margin-left: -50%;
    margin-top: 2em;
    margin-right: 1em;
}

.blue-button:hover {
    background-color: #0056b3;
}

/* New Volunteers Form */
.volunteers-form {
    .range-input {
        width: 100%;
        accent-color: #fb5e3c;
        background-color: white;
    }

    .sliderticks {
        width: 100%;
    }

    .submit {
        margin-top: 50px;
        background: #fb5e3c;
        font-size: 25px;
        padding: 10px 15px;
    }

    .form {
        box-shadow: 4px -5px 54px 17px rgba(0, 0, 0, 0.1);
        padding: 50px;
    }
}

.card{
    height: 200px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);

}
 .card i{
    /* background-color: #000; */
    color: white;
 }