@import "bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
    background-color: rgb(238, 232, 226);
}

.font_headings {
    font-family: "Mulish", sans-serif;
}

.font_text {
    font-family: "Montserrat", sans-serif;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
}

.nav_shadow {
    box-shadow: 5px 5px 60px rgba(0, 0, 0, 0.5);
}

.orange {
    background: #fbb13c;
}

.pushable {
    background: black;
    border-radius: 20px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none; /* Remove outline */
}

.front {
    display: block;
    padding: 8px;
    border-radius: 20px;
    font-size: 1.25rem;
    background: rgb(0, 0, 0);
    color: white;
    transform: translateY(-6px);
    transition: background 0.7s ease, transform 0.5s ease; /* Slower transform */
}

.pushable:hover .front {
    background: #b8afda;
    transform: translateY(-6px);
}

.pushable:active .front {
    transform: translateY(-2px);
}

.hover_border:hover {
    border: 2px solid black;
    border-radius: 50px;
}

.drop_list {
    list-style: none;
    padding: 0;
    width: 100%;
    font-weight: normal;
    li {
        text-align: center;
        padding: 5px 0px;
        font-size: 12px;
        a {
            color: white;
            text-decoration: none;
        }
    }
}

.dropdown_active {
    background: #000;
    color: white !important;
    border-radius: 10px;
}

.dropdown_body {
    transform: translateX(-8px);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.red {
    color: #f00;
}

.accordion {
    margin-top: 20px;
}

.accordion-item {
    border-radius: 20px;
    overflow: hidden;
}

.accordion-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: white;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    transition: background-color 0.7s ease;
}
.accordion-header button {
    background: none;
    border: none; 
    padding: 0;
    outline: none; 
}
.accordion-body {
    padding: 1rem;
    border: none;
    box-shadow: none;
}


.plus-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid black; 
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.7s ease; 
    font-size: 1.5rem;
}

.plus-circle.minus {
    background-color: black;
    color: white; 
}

.accordion-header:hover {
    background-color: #f3e5f5;
}

.accordion-collapse {
    display: none;
}

.accordion-collapse.show {
    display: block;
    background-color: #f3e5f5; 
    transition: max-height 0.5s ease, opacity 0.5s ease;
}